<a href="https://colab.research.google.com/github/EnricoHuber/SoloLearn/blob/main/Solo_Learn_Machine_Learning_Course_checkpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Machine Learning with Solo Learn
In this notebook we are going to cover some algorithms for classification in Python using some famous libraries.

## Statistics Review with Python

Some known statistics can be computed with Numpy. See Numpy [docs](https://numpy.org/doc/) here.

In [1]:
import numpy as np

data = [15, 16, 18, 19, 22, 24, 29, 30, 34]

print("mean:", np.mean(data))
print("median:", np.median(data))
print("50th percentile (median):", np.percentile(data, 50))
print("25th percentile:", np.percentile(data, 25))
print("75th percentile:", np.percentile(data, 75))
print("standard deviation:", np.std(data))
print("variance:", np.var(data))

mean: 23.0
median: 22.0
50th percentile (median): 22.0
25th percentile: 18.0
75th percentile: 29.0
standard deviation: 6.342099196813483
variance: 40.22222222222222

Data manipulation is down via Pandas. See Pandas [docs](https://pandas.pydata.org/pandas-docs/stable/) here.

In [2]:
import pandas as pd
df = pd.read_csv('https://sololearn.com/uploads/files/titanic.csv')
print(df.head())
print(df.describe())

   Survived  Pclass     Sex   Age  Siblings/Spouses  Parents/Children     Fare
0         0       3    male  22.0                 1                 0   7.2500
1         1       1  female  38.0                 1                 0  71.2833
2         1       3  female  26.0                 0                 0   7.9250
3         1       1  female  35.0                 1                 0  53.1000
4         0       3    male  35.0                 0                 0   8.0500
         Survived      Pclass  ...  Parents/Children       Fare
count  887.000000  887.000000  ...        887.000000  887.00000
mean     0.385569    2.305524  ...          0.383315   32.30542
std      0.487004    0.836662  ...          0.807466   49.78204
min      0.000000    1.000000  ...          0.000000    0.00000
25%      0.000000    2.000000  ...          0.000000    7.92500
50%      0.000000    3.000000  ...          0.000000   14.45420
75%      1.000000    3.000000  ...          0.000000   31.13750
max      1.000000    3.000000  ...          6.000000  512.32920

[8 rows x 6 columns]

In [3]:
col = df['Fare']
print(col)

0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
882    13.0000
883    30.0000
884    23.4500
885    30.0000
886     7.7500
Name: Fare, Length: 887, dtype: float64

In [4]:
# You can create a small subdataframe
small_df = df[['Age', 'Sex', 'Survived']]
print(small_df.head())

    Age     Sex  Survived
0  22.0    male         0
1  38.0  female         1
2  26.0  female         1
3  35.0  female         1
4  35.0    male         0